body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-background: #FFEACA;
  --color-black-on-white: #282020;
  --color-grey-on-white: #AB7878;

  --font-size-normal: 14px;
  --font-size-small: 12px;
  --font-size-input: 16px;
  --font-weight-medium: 500;

  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-normal);


  background: var(--color-background);
  color: var(--color-black-on-white);
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-input);
  line-height: var(--font-size-input);
  padding: 8px;
}
